.square {
  min-width: 2.5em;
  height: 3.5em;
}

.bottom-border {
  border-bottom-width: 4px !important;
}

.right-border {
  border-right-width: 4px !important;
}

.light-orange-text {
  color: #f0ad4e;
}
